<li style="margin-top: 10px;" [ngClass]=" {'list-group-item':true, 'list-group-item-success':appareilStatus==='allumé', 'list-group-item-danger':appareilStatus==='éteint' } " >
	<!-- <div style="width:20px;height:20px;background-color:red;" *ngIf="appareilStatus === 'éteint' "></div> -->
	<h4 [ngStyle]="{color: getColor()}">Appareil: {{ appareilName }} -- Status : {{ appareilStatus }}</h4>
	<!-- <input type="text" class="form-control" [(ngModel)]="appareilName"> -->
	<a style="margin-right: 10px;" [routerLink]="[id]">Détails</a>
	<button style="margin-right: 15px;" class="btn btn-success" 
		(click)="onSwitchOn()" 
		[disabled]="appareilStatus === 'allumé'" >
		Allumer
	</button>
	<button class="btn btn-danger" 
		(click)="onSwitchOff()" 
		[disabled]="appareilStatus === 'éteint'" >
		Eteindre
	</button>
</li>