<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mis à jour : {{ lastUpdate | async | date:'short' | uppercase }} </p><!-- les pipes -->
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i=index" 
        [appareilName]="appareil.name" 
        [appareilStatus]="appareil.status"
        [indexOfAppareil]="i"
        [id]="appareil.id" ></app-appareil>
    <!-- let i= index = recuperation de chaque index du tableau en un moment donné -->
    <!-- on utilise i pour lié l index i récuperé  au input indexOfAppareil via le property binding -->
   
  </ul>
  <button class="btn btn-primary" (click)="onAllumer()">Tout Allumer</button>
  <button style="margin-left: 8px" class="btn btn-danger" (click)="onEteindre()">Tout étteindre</button>
</div>